%html
  %head
  %body
    .alert-success#abc
      %span
    #box
      =form_for @question, url: "user/post" do |f|
        =f.text_area :title, :require=>true
        =f.submit :id=>"post-btn", :value=>"Post"


  = javascript_include_tag "question-box"