%html
	%body
		.header
		.main-container
			.left-container
				%h1.drop.relief KiTALL
			%span.register-text Register here...
			%span.underline
			%span.animate ...
			.container
				.login
					= render :partial=>'session/new'
					= render :partial=>'registration/new'
