body{
	background: -webkit-radial-gradient( -8% 94%, circle, white, blueviolet 82%);
	position: relative;
}
.arrow:hover{
	border-top-color: indigo;
	cursor: pointer;
}
.arrow{
	width: 0px;
	height: 0px;
	border: 80px solid transparent;
	border-top-color: blueviolet;
	margin-left: 80%;
}
.footer{
	background: -webkit-radial-gradient( -8% 94%, circle, white, blueviolet 68%);
	width: 104%;
	height: 100px;
	margin-left: -8px;
	margin-bottom: -18px;	
	z-index: 999;
	padding-bottom: 30px;
	position: relative;
}
.sub-footer{
	background-color: indigo;
	width: 104%;
	height: 50px;
	margin-left: -8px;
	margin-top: 80px;	
	z-index: 999;
	position: absolute;
}
.main-container{
	position: relative;
	top: 150px;
	height: 450px;
	border: 1px solid indigo;
	background: -webkit-radial-gradient( -79% 52%, ellipse, white, blueviolet 111%);
	margin-left: -9px;
	margin-right: -9px;
}
.container{
	left: 60%;	
	width: 36%;
	height: 400px;
	position: relative;
	top: 25px;
}
.left-container{
	left: 6%;
	width: 36%;
	height: 400px;
	position: absolute;
	top: 25px;
	border-radius: 10px;
}
h1.drop.relief{
  font-family: Marker Felt;
  font-weight: bolder;
  background: -webkit-radial-gradient( -79% 52%, ellipse, white, blueviolet 197%);
  color: #e0eff2;
  font-size: 10em;
  padding-left: 20px;
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
}