.login{
	height: 18%;
	width: 100%;	
	position: relative;
}
.login-fields{
	margin-left: 20px;
	margin-right: 15px;
	margin-top: 23px;
	margin-bottom: 23px;
	position: absolute;
	width: 90%;
	height: 80px;
	background: -webkit-radial-gradient( 50% 50%, ellipse, white, blueviolet 100%);
	border-radius: 10px;
	padding-left: 10px;
}
input[type=text].login-box{
	width: 160px;
	outline: none;
	border-radius: 5px;
	background-color: white;
	height: 25px;
	font-size: 15px;
	margin-top: 26px;
	border: 1px solid indigo;
}
input[type=password].login-password{
	font-size: 15px;
	width: 130px;
	outline: none;
	border-radius: 5px;
	background-color: white;
	height: 25px;
	margin-top: 26px;
	border: 1px solid indigo;
}
input[type=submit].submit-button:hover{
	cursor: pointer;
}
input[type=submit].submit-button{
	width: 100px;
	outline: none;
	border-radius: 5px;
	background-color: indigo;
	height: 31px;	
	color: white;
	font-size: 15px;
	font-family: bold;
	line-height: 1.8;
	border: 1px solid indigo;
}