#box{
    width: 47%;
    margin: 0 auto;
    position: relative;
    height: 100px;
    top: 50px;
}

#box .btn{
    float: left;
    margin-top: 7px;
}

.mce-path-item {
    display: none !important;
}

.mce-menubar .mce-caret {
    display: none;
}

.mce-path .mce-divider {
    display: none !important;
}

.mce-statusbar .mce-container-body {
    height: 13px;
}

.mce-panel {
    border-color: darkgrey !important;
}

#mce_20{
    padding-top: 9px !important;
}


.mce-menubar .mce-menubtn {
    display: none;
}