.error{
	display: inline;
}
.animate{
	top: 339px;
	position: absolute;
	color: white;
	left: 525px;
	-webkit-animation-name: opening;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	/*-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;*/
}
@-webkit-keyframes opening{
	from,to{}
	0%{
		left: 525px;
	}
	100%{
		left: 712px;
	}
}
.register-text{
	font-family: Helvetica;
	font-size: 20px;
	font-style: bold;
	position: absolute;
	top: 315px;
	left: 525px;
}
.underline{
	position: absolute;
	top: 350px;
	left: 525px;
	width: 200px;
	height: 4px;
	border-radius: 50% 50%;
	background-color: indigo;
	transition:
}
.register-fields{		
	margin-top: 23px;	
	position: absolute;
	width: 100%;
	height: auto;
	background: -webkit-radial-gradient( 1% 52%, ellipse, white, blueviolet 110%);
	border-radius: 10px;	
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 40px;	
}
input[type=password].input-password{
	width: 230px;
	outline: none;
	border-radius: 5px;
	background-color: white;
	height: 25px;
	font-size: 15px;
	margin-top: 10px;
	border: 1px solid indigo;
}
input[type=text].input-text{
	width: 230px;
	outline: none;
	border-radius: 5px;
	background-color: white;
	height: 25px;
	font-size: 15px;
	margin-top: 10px;
	border: 1px solid indigo;
}
label.input-gender:hover{
	cursor: pointer;
}
label.input-gender{
	text-align: center;
	width: 116px;
	display: inline;
	outline: none;	
	background-color: indigo;
	height: 25px;	
	font-family: bold;	
	float: left;
	font-size: 15px;
	line-height: 1.7;
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}
input[type=submit].input-submit:hover{
	cursor: pointer;
}
input[type=submit].input-submit{
	width: 150px;
	outline: none;
	border-radius: 5px;
	background-color: indigo;
	height: 30px;
	font-size: 15px;
	margin-left: 15px;
	color: white;
	border: 1px solid indigo;
}
.radio-container{
	width: 232px;
}
input[type=radio].input-radio{
	display: none;	
}
input[type=text].email{
	margin-top: 0px; !important
}