%html
	%body
	.outer
		.main-container
			.left-container
				%h1.drop.relief KiTALL
			%span.register-text Register here...
			%span.underline
			%span.animate ...
			.container
				.login
					- unless current_user
						= render :partial=>'session/new'
						= render :partial=>'registration/new'