%html
 %body
  =form_for(:session, :url=> session_index_path) do |f|   
   .login-fields
    =f.text_field :email,placeholder:'Username', class:'login-box'
    =f.password_field :password,placeholder:'Password', class:'login-password'
    =f.submit :login,class:'submit-button'